{% load sekizai_tags %}
{% load thumbnail %}


{% addtoblock "css" %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <script type="text/javascript">

   $('#slider_{{object.pk}}').owlCarousel({
        singleItem: true,
        autoPlay: true,
        pagination: false,
        autoHeight: true,
        navigation: false,
        transitionStyle:"fade",
        navigationText: [
          "<i class='fa fa-chevron-left'></i>",
          "<i class='fa fa-chevron-right'></i>"
        ],
    });

  </script>
{% endaddtoblock %}


<div id="slider_{{object.pk}}">

  {% for img in images %}
    <div  class="item">
      {% if img.url_target %}
      <a href="{{img.url_target}}">
      {% else %}
        {% if img.page %}
          <a href="{{img.page.get_absolute_url}}">
        {% endif %}
      {% endif %}
        {% thumbnail img object.size crop upscale as thumb %}
        <img src='{{thumb.url}}' alt="{{img.name|default:''}}" >
        {% if img.url_target or img.page %}
          </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
